body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.diashow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  object-fit: contain;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
  margin: 0px;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin: 8px 0px 10px 0px;
  text-align: center;
}

.loading {
  width: 16vw;
  border-radius: 10px;
  border-color: black;
  background-color: white;
  margin: 20px 0px 0px 0px;
  padding: 2vw;
  justify-content: center;
  align-items: center;
}

.qrCode {
  width: 100%;
}

.QRCode {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  top: 35%;
  left: 37%;
  width: 20vw;
  height: auto;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 40px 3vw 3vw 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generating {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  top: 35%;
  left: 37%;
  width: 20vw;
  height: auto;
  position: absolute;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 40px 3vw 3vw 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.qr-loader-container {
  width: 100%;
  height: 10px;
  background-color: #cccccc00;
  position: relative;
  overflow: hidden;
}

.qr-loader-bar {
  width: 0%;
  height: 100%;
  background-color: #000000;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0s ease-out;
}

.qr-fill {
  width: 100%;
  transition: all 15.5s ease-out;
}

.fade-in {
  opacity: 1;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f03355;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: l1 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f03355;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: l1 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l1 {
  33% {
    border-radius: 0;
    background: #514b82;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  66% {
    border-radius: 0;
    background: #ffa516;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
  }
}
