body {
  padding: 0px;
  margin: 0px;
}

.diashow {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transition: opacity 0.4s ease-in-out;
  opacity: 1;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold;
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin: 0px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin: 8px 0px 10px 0px;
}

.loading {
  width: 16vw;
  border-width: 4px;
  border-style: none;
  border-radius: 15px;
  border-color: black;
  background-color: white;
  /* filter: drop-shadow(1px 2px 3px #ffffff); */
  margin: 20px 0px 0px 0px;
  padding: 2vw;
  justify-content: center;
  align-items: center;
}

.qrCode {
  width: 100%;
}

.QRCode {
  top: 35%;
  left: 37%;
  width: 20vw;
  height: auto;
  position: absolute;
  backdrop-filter: blur(10px);
  background-color: rgba(32, 32, 32, 0.5);
  border-radius: 20px;
  padding: 40px 3vw 3vw 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h4{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.loader_container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #f03355;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  animation: l1 2s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes l1 {
  33% {
    border-radius: 0;
    background: #514b82;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
  }

  66% {
    border-radius: 0;
    background: #ffa516;
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%)
  }
}